<h2>Edit task</h2>
<br>
<div>
  <%= simple_form_for(@task) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.check_box :completed %>
  <%= f.label :completed, "Completed" %>
  <%= f.submit %>
  <% end %>
</div>
